<!DOCTYPE html>
<html ng-app="slotdesignApplication">
    <head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    	<title>Slot track editor</title>
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<style>
		p, h2 {
			font-family: Verdana, helvetica, arial;
		}
		</style>
    </head>
    <body ng-controller="slotdesignController">
    	<script type="text/javascript" src="Matrix.js"></script>
    	<script type="text/javascript" src="Geometry.js"></script>
    	<script type="text/javascript" src="Pieces.js"></script>
    	<script type="text/javascript" src="Ninco.js"></script>
    	<script type="text/javascript" src="Editor.js"></script>
    	<script type="text/javascript" src="Main.js"></script>
    	<script type="text/javascript" src="angular.js"></script>

		<h2>Track editor</h2>
		<p>Use wasd cursor keys to add pieces to the track (w = long straight, a = left turn, s = short straight, d = right turn). Edit the text field to clear or fix errors.</p>
		<input type="text" id="inputField" size="70"/>
        <p>
			<svg
				width="1200"
				height="1200"
				viewBox="{{slotdesign.followEditor.box.topLeft.x}} {{slotdesign.followEditor.box.topLeft.y}} {{slotdesign.followEditor.box.bottomRight.x - slotdesign.followEditor.box.topLeft.x + 20}} {{slotdesign.followEditor.box.bottomRight.y - slotdesign.followEditor.box.topLeft.y + 20}}"
				preserveAspectRatio="xMidYMid meet"
				style="border: 1px solid;"
			>
				<path d="M 0,0 l -150,0 l 20,-50 l 20, 50 z" stroke="black" fill="red" stroke-width="3"/>
				<path d="M 0,0 l  150,0 l -20, 50 l -20,-50 z" stroke="black" fill="red" stroke-width="3"/>
				<g
					ng-repeat="section in slotdesign.followEditor.sections"
					transform="matrix({{section.matrix.a}},{{section.matrix.b}},{{section.matrix.c}},{{section.matrix.d}},{{section.matrix.e}},{{section.matrix.f}})"
				>
					<path d="M 0,0 {{section.path}}" stroke="gray" stroke-width="3"/>
					<path d="M 0,0 {{section.leftLane}} {{section.rightLane}}" stroke="lightgray" fill="lightgray"/>
				</g>
			</svg>
  		</p>
		<p>
			<div ng-repeat="piece in slotdesign.pieces" style="display: inline-block; vertical-align: text-top;">
				<p>{{piece.name}}</p>
				<svg
					width="{{piece.box.bottomRight.x - piece.box.topLeft.x}}"
					height="{{piece.box.bottomRight.y - piece.box.topLeft.y}}"
					viewBox="{{piece.box.topLeft.x}} {{piece.box.topLeft.y}} {{piece.box.bottomRight.x - piece.box.topLeft.x + 20}} {{piece.box.bottomRight.y - piece.box.topLeft.y + 20}}"
					preserveAspectRatio="xMidYMid meet"
				>
						<path d="M 0,0 {{piece.svgPath}}" stroke="gray" stroke-width="3"/>
						<path d="M 0,0 {{piece.lanes[0].svgPath}} {{piece.lanes[1].svgPath}}" stroke="lightgray" fill="lightgray"/>
				</svg>
			</div>
        </p>
        <p>
			<svg
				width="1200"
				height="1200"
				viewBox="{{slotdesign.follow.box.topLeft.x}} {{slotdesign.follow.box.topLeft.y}} {{slotdesign.follow.box.bottomRight.x - slotdesign.follow.box.topLeft.x + 20}} {{slotdesign.follow.box.bottomRight.y - slotdesign.follow.box.topLeft.y + 20}}"
				preserveAspectRatio="xMidYMid meet"
				style="border: 1px solid;"
			>
				<path d="M 0,0 l -150,0 l 20,-50 l 20, 50 z" stroke="black" fill="red" stroke-width="3"/>
				<path d="M 0,0 l  150,0 l -20, 50 l -20,-50 z" stroke="black" fill="red" stroke-width="3"/>
				<g
					ng-repeat="section in slotdesign.follow.sections"
					transform="matrix({{section.matrix.a}},{{section.matrix.b}},{{section.matrix.c}},{{section.matrix.d}},{{section.matrix.e}},{{section.matrix.f}})"
				>
					<path d="M 0,0 {{section.path}}" stroke="gray" stroke-width="3"/>
					<path d="M 0,0 {{section.leftLane}} {{section.rightLane}}" stroke="lightgray" fill="lightgray"/>
				</g>
			</svg>
  		</p>
        <p>
			<svg
				width="1200"
				height="1200"
				viewBox="{{slotdesign.follow2.box.topLeft.x}} {{slotdesign.follow2.box.topLeft.y}} {{slotdesign.follow2.box.bottomRight.x - slotdesign.follow2.box.topLeft.x + 20}} {{slotdesign.follow2.box.bottomRight.y - slotdesign.follow2.box.topLeft.y + 20}}"
				preserveAspectRatio="xMidYMid meet"
				style="border: 1px solid;"
			>
				<path d="M 0,0 l -150,0 l 20,-50 l 20, 50 z" stroke="black" fill="red" stroke-width="3"/>
				<path d="M 0,0 l  150,0 l -20, 50 l -20,-50 z" stroke="black" fill="red" stroke-width="3"/>
				<g
					ng-repeat="section in slotdesign.follow2.sections"
					transform="matrix({{section.matrix.a}},{{section.matrix.b}},{{section.matrix.c}},{{section.matrix.d}},{{section.matrix.e}},{{section.matrix.f}})"
				>
					<path d="M 0,0 {{section.path}}" stroke="gray" stroke-width="3"/>
					<path d="M 0,0 {{section.leftLane}} {{section.rightLane}}" stroke="lightgray" fill="lightgray"/>
				</g>
			</svg>
  		</p>
  		<script>
  			console.log("Simple matrix", new Matrix.Matrix2D().toString());
  			console.log("Translation", Matrix.translation(2, 2).toString());
  			console.log("Composition", Matrix.compose2D(Matrix.translation(2, 2), Matrix.translation(3, 3)).toString());
  			console.log("Rotation", Matrix.rotation(0, 0, Math.PI / 2).toString());
  			console.log("Rotate (2, 3) around (0, 0) PI/2", Matrix.apply2D(Matrix.rotation(0, 0, Math.PI / 2), new Matrix.Point2D(2, 3)).toString());
  			console.log("Rotate a box (3, 3) - (5, 7) around (4, 4), PI/2",
  				Geometry.rotate(
  					new Geometry.DefaultBox(
  						new Geometry.DefaultCoordinates(3, 3),
  						new Geometry.DefaultCoordinates(5, 7)
  					),
  					new Geometry.DefaultCoordinates(4, 4),
  					Math.PI / 2
  				).toString());
  		</script>
    </body>
</html>